.form-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  margin: auto;
  max-width: 80%;
}

.radio-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio-button-label {
  display: inline-block;
  padding: 10px 16px;
  border: 1px solid #e6e9f0;
  border-radius: 12px;
  margin: 5px;
  color: #636363;
  font-size: 14px;
}

.radio-button {
  opacity: 0;
  position: fixed;
  width: 0;
}

label:focus-within {
  background-color: #005aa9;
  color: #ffffff;
}

.input-column {
  margin-top: 16px;
}

.input-box {
  width: 100%;
  height: 72px;
  border-radius: 12px;
  border: 1px solid #e6e9f0;
  margin-bottom: 8px;
}

.submit-button {
  width: 100%;
  height: 60px;
  background-color: #005aa9;
  color: #ffffff;
  border-radius: 12px;
  border: none;
}

.toggle {
  display: none;
}

@media screen and (min-width: 636px) {
  .toggle {
    display: inline;
    margin-left: auto;
  }

  .radio-toggle-wrapper {
    display: flex;
    align-items: center;
  }
  .input-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 780px) {
  .submit-button {
    width: auto;
  }

  .input-column {
    display: flex;
    align-content: center;
  }

  .input-wrapper {
    min-width: 35vw;
    margin: 6px;
  }

  .input-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
