.icon-card-wrapper {
  background-color: #ffffff;
  width: 60vw;
  margin: 40px auto;
  border-radius: 16px;
  padding: 40px;
}

.description-text {
  line-height: 1.5;
  /* font-size: 14px; */
  margin-bottom: -12px;
  color: #636363;
}

@media screen and (min-width: 780px) {
  .icon-card-wrapper {
    width: 23vw;
  }
}
