.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 1.5rem;
}

.navigation-menu ul {
  padding: 0;
  position: absolute;
  top: 60px;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 77px);
  background-color: white;
  border-top: 1px solid black;
  display: none;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
  text-align: center;
  margin: 0;
}

.navigation-menu.expanded ul {
  display: block;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
  width: 100%;
  padding: 1.5rem 0;
}

.navigation-menu li:hover {
  background-color: #eee;
}

.hamburger {
  border: 0;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  background: #ffffff;
  display: block;
}

.desktop-navigation {
  display: none;
}

@media screen and (min-width: 636px) {
  /* .navigation-menu ul {
          display:flex;
        } */
}

@media screen and (min-width: 780px) {
  .navigation {
    width: 100px;
  }
  .hamburger {
    display: none;
  }
  .navigation-menu {
    display: none;
  }

  .navigation-menu.expanded ul {
    display: none;
  }

  .desktop-navigation {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .desktop-navigation ul {
    display: flex;
  }

  .desktop-navigation li {
    list-style-type: none;
    margin: 0 1rem;
    text-align: center;
    margin: 0;
    padding: 0 1rem;
  }
}
