.App {
  text-align: center;
  background-color: #f7f8f9;
}

.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.header-logo {
  width: 125px;
  height: 40px;
  display: block;
}

.hero-banner {
  background-color: #519dbf;
  padding: 40px 0;
  background-size: cover;
  background-position: bottom;
  background-image: url(./images/background-image.jpg);
}
